body {
  background: #FFEEE3;

}

footer {
  background-color: #757F3C;
}

footer h5 {
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
}

footer div:hover >h5{
  border-bottom: 3px solid black;
}

main {
  margin:20px auto 20px auto;
  background: #FAF9F7;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.jumbotron {
  margin-top:20px;
  background: url(img/backgr.png) no-repeat 100% 100%;
  color:white;
  min-height:400px;
  padding: 50px 0px 100px 0px;
}


main li a{
  color: #010101;
}
main li a:hover{
  color: #AAA;

}

#letteremail{
  background: #FFEEE3;
  padding:0px 20px 0px 20px ;
}
form i{
  color: #547133 ;
}


.styledmail{
  background-color:  #E0D7D1;
}

.styledmail::-webkit-input-placeholder{
  color: #757F3C;
  font-size: 12px;
  font-style: italic;
}
.styledmail::-moz-placeholder          {color:#757F3C;}/* Firefox 19+ */
.styledmail:-moz-placeholder           {color:#757F3C;}/* Firefox 18- */
.styledmail:-ms-input-placeholder      {color:#757F3C;}


.media{
  margin: 9px;
  border: solid #DDD 0.5px;
  border-radius: 7px;
  padding: 6px;
  transition: 1s;
}
.media:hover{
  box-shadow: 0px 5px 20px #AAA;
}



nav{
  padding-top: 10px;
}




header{
  background: #fff;

}
/*
header img {
  width: 100%;
  height: auto;
}*/
